- var image_src_one = require('../src/images/userpic_one.png').default
- var image_src_two = require('../src/images/userpic_two.png').default
.room-details 
    include ../../components/header/header.pug 
    +header('', '')
    .images 
        .image-one
        .image-two
        .image-three
    .content 
        .container
            .about-number
                include ../../components/intelligence/intelligence.pug 
                include ../../components/impression/impression.pug 
            .comments
                .block-title
                    h3.block-title__text Отзывы посетителей номера
                    span.block-title__number 2 отзыва
                include ../../components/comment/comment.pug 
                +comment(image_src_one, 'Мурад Сарафанов', '5 дней назад', 'active', '12', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                +comment(image_src_two, 'Патрисия Стёклышкова', 'Неделю назад', 'inActive', '2', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
            .information
                include ../../components/bullet-list/bullet-list.pug 
                include ../../components/cancel/cancel.pug 
        include ../../components/check/check.pug 
        +check('888', 'люкс', '9 900', '2 179', '300')
    .line
    include ../../components/footer/footer.pug 
    +footer()