include ../../components/header/header.pug
include ../../components/room-amenities/room-amenities.pug 
include ../../components/impression-of-the-room/impression-of-the-room.pug
include ../../components/comment/comment.pug 
include ../../components/bullet-list/bullet-list.pug
include ../../components/cancellation/cancellation.pug
include ../../components/verification-form/verification-form.pug 
include ../../components/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="../src/images/logotip-gray.svg")
    title Room Details
  body
    .room-details  
      +header()
      .room-details__image-list
        .room-details__image
        .room-details__image
        .room-details__image
      .room-details__content 
        .room-details__containers
          .room-details__room-amenities 
            h3.room-details__room-amenities-title Сведения о номере
            .room-details__container-room-amenities
              +room-amenities() 
          +impression-of-the-room()
          .room-details__comments
            .room-details__comments-titles 
              h3.room-details__comments-title-text Отзывы посетителей номера
              h3.room-details__comments-title-value 2 отзыва
            +comment('userpic-one.png', 'Мурад Сарафанов', '5 дней назад', 'active', '12', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
            +comment('userpic-two.png', 'Патрисия Стёклышкова', 'Неделю назад', 'inActive', '2', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
          .room-details__bullet-list 
            h3.room-details__bullet-list-title Правила
            +bullet-list()
          .room-details__container-cancellation
            +cancellation()
        .room-details__container-verification-form 
          +verification-form({ price: '9990', discount: '2179', collecting: '300', numberValue: '888', numberState: 'люкс', numberPrice: '9 990', oneDate: '20 October, 2020', twoDate: '24 October, 2020' })
      .room-details__line 
      +footer()