mixin pagination(modifier)
  .pagination.js-pagination(class=modifier)
    .pagination__container-items.js-pagination__container-items
      include ../room/room.pug
      - for(var i = 0; i <= 6; i++) 
        +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
        +room('room-two.jpg', '840', '', '9 990', '4', '65')
        +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
        +room('room-four.jpg', '856', '', '7 300', '5', '19')
        +room('room-five.jpg', '740', '', '6 000', '4', '44')
        +room('room-six.jpg', '982', '', '5 800', '3', '56')
        +room('room-seven.jpg', '678', '', '5 500', '5', '45')
        +room('room-eight.jpg', '450', '', '5 300', '4', '39')
        +room('room-nine.jpg', '350', '', '5 000', '3', '77')
        +room('room-ten.jpg', '666', '', '5 000', '5', '25')
        +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
        +room('room-twelve.jpg', '352', '', '5 000', '3', '55') 
        +room('room-twelve.jpg', '352', '', '5 000', '3', '55')
        +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
        +room('room-ten.jpg', '666', '', '5 000', '5', '25')
        +room('room-nine.jpg', '350', '', '5 000', '3', '77')
        +room('room-eight.jpg', '450', '', '5 300', '4', '39')
        +room('room-seven.jpg', '678', '', '5 500', '5', '45')
        +room('room-six.jpg', '982', '', '5 800', '3', '56')
        +room('room-five.jpg', '740', '', '6 000', '4', '44')
        +room('room-four.jpg', '856', '', '7 300', '5', '19')
        +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
        +room('room-two.jpg', '840', '', '9 990', '4', '65')
        +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
      +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
      +room('room-two.jpg', '840', '', '9 990', '4', '65')
      +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
      +room('room-four.jpg', '856', '', '7 300', '5', '19')
      +room('room-five.jpg', '740', '', '6 000', '4', '44')
      +room('room-six.jpg', '982', '', '5 800', '3', '56')
      +room('room-seven.jpg', '678', '', '5 500', '5', '45')
      +room('room-eight.jpg', '450', '', '5 300', '4', '39')
      +room('room-nine.jpg', '350', '', '5 000', '3', '77')
      +room('room-ten.jpg', '666', '', '5 000', '5', '25')
      +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
      +room('room-twelve.jpg', '352', '', '5 000', '3', '55')    
    .pagination__container.js-pagination__container 