include ../room/room.pug

mixin pagination(modifier)
  .pagination.js-pagination(class=modifier)
    .pagination__container-items.js-pagination__container-items
      - for(var i = 0; i <= 6; i++) 
        +room({ roomImgName: 'room-one.jpg', roomNumber: '888', roomState: 'люкс', roomPrice: '9 990', rateButtonValue: '5', commentsValue: '145' })
        +room({ roomImgName: 'room-two.jpg', roomNumber: '840', roomPrice: '9 990', rateButtonValue: '4', commentsValue: '65' })
        +room({ roomImgName: 'room-three.jpg', roomNumber: '980', roomState: 'люкс', roomPrice: '8 500', rateButtonValue: '3', commentsValue: '35' })
        +room({ roomImgName: 'room-four.jpg', roomNumber: '856', roomPrice: '7 300', rateButtonValue: '5', commentsValue: '19' })
        +room({ roomImgName: 'room-five.jpg', roomNumber: '740', roomPrice: '6 000', rateButtonValue: '4', commentsValue: '44' })
        +room({ roomImgName: 'room-six.jpg', roomNumber: '982', roomPrice: '5 800', rateButtonValue: '3', commentsValue: '56' })
        +room({ roomImgName: 'room-seven.jpg', roomNumber: '678', roomPrice: '5 500', rateButtonValue: '5', commentsValue: '45' })
        +room({ roomImgName: 'room-eight.jpg', roomNumber: '450', roomPrice: '5 300', rateButtonValue: '4', commentsValue: '39' })
        +room({ roomImgName: 'room-nine.jpg', roomNumber: '350', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '77' })
        +room({ roomImgName: 'room-ten.jpg', roomNumber: '666', roomPrice: '5 000', rateButtonValue: '5', commentsValue: '25' })
        +room({ roomImgName: 'room-eleven.jpg', roomNumber: '444', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '15' })
        +room({ roomImgName: 'room-twelve.jpg', roomNumber: '352', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '55' }) 
        +room({ roomImgName: 'room-twelve.jpg', roomNumber: '352', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '55' })
        +room({ roomImgName: 'room-eleven.jpg', roomNumber: '444', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '15' })
        +room({ roomImgName: 'room-ten.jpg', roomNumber: '666', roomPrice: '5 000', rateButtonValue: '5', commentsValue: '25' })
        +room({ roomImgName: 'room-nine.jpg', roomNumber: '350', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '77' })
        +room({ roomImgName: 'room-eight.jpg', roomNumber: '450', roomPrice: '5 300', rateButtonValue: '4', commentsValue: '39' })
        +room({ roomImgName: 'room-seven.jpg', roomNumber: '678', roomPrice: '5 500', rateButtonValue: '5', commentsValue: '45' })
        +room({ roomImgName: 'room-six.jpg', roomNumber: '982', roomPrice: '5 800', rateButtonValue: '3', commentsValue: '56' })
        +room({ roomImgName: 'room-five.jpg', roomNumber: '740', roomPrice: '6 000', rateButtonValue: '4', commentsValue: '44' })
        +room({ roomImgName: 'room-four.jpg', roomNumber: '856', roomPrice: '7 300', rateButtonValue: '5', commentsValue: '19' })
        +room({ roomImgName: 'room-three.jpg', roomNumber: '980', roomState: 'люкс', roomPrice: '8 500', rateButtonValue: '3', commentsValue: '35' })
        +room({ roomImgName: 'room-two.jpg', roomNumber: '840', roomPrice: '9 990', rateButtonValue: '4', commentsValue: '65' })
        +room({ roomImgName: 'room-one.jpg', roomNumber: '888', roomState: 'люкс', roomPrice: '9 990', rateButtonValue: '5', commentsValue: '145' })
      +room({ roomImgName: 'room-one.jpg', roomNumber: '888', roomState: 'люкс', roomPrice: '9 990', rateButtonValue: '5', commentsValue: '145' })
      +room({ roomImgName: 'room-two.jpg', roomNumber: '840', roomPrice: '9 990', rateButtonValue: '4', commentsValue: '65' })
      +room({ roomImgName: 'room-three.jpg', roomNumber: '980', roomState: 'люкс', roomPrice: '8 500', rateButtonValue: '3', commentsValue: '35' })
      +room({ roomImgName: 'room-four.jpg', roomNumber: '856', roomPrice: '7 300', rateButtonValue: '5', commentsValue: '19' })
      +room({ roomImgName: 'room-five.jpg', roomNumber: '740', roomPrice: '6 000', rateButtonValue: '4', commentsValue: '44' })
      +room({ roomImgName: 'room-six.jpg', roomNumber: '982', roomPrice: '5 800', rateButtonValue: '3', commentsValue: '56' })
      +room({ roomImgName: 'room-seven.jpg', roomNumber: '678', roomPrice: '5 500', rateButtonValue: '5', commentsValue: '45' })
      +room({ roomImgName: 'room-eight.jpg', roomNumber: '450', roomPrice: '5 300', rateButtonValue: '4', commentsValue: '39' })
      +room({ roomImgName: 'room-nine.jpg', roomNumber: '350', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '77' })
      +room({ roomImgName: 'room-ten.jpg', roomNumber: '666', roomPrice: '5 000', rateButtonValue: '5', commentsValue: '25' })
      +room({ roomImgName: 'room-eleven.jpg', roomNumber: '444', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '15' })
      +room({ roomImgName: 'room-twelve.jpg', roomNumber: '352', roomPrice: '5 000', rateButtonValue: '3', commentsValue: '55' })    
    .pagination__container.js-pagination__container 