include ../../components/header/header.pug 
include ../../components/search-room-form/search-room-form.pug 
include ../../components/footer/footer.pug 

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Toxin, hotel, отель, search room, поиск номера")
    meta(name="description" content="Лучшие номера для вашей работы, отдыха и просто вдохновения")
    link(type="image/x-icon" rel="shortcut icon" href= require("../../images/favicon.svg").default)
    link(rel="mask-icon" href= require("../../images/favicon.svg").default color="gray")
    title Landing Page
  body
    .landing-page 
      +header()
      .landing-page__content 
        +search-room-form()
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
      .landing-page__container-footer 
        +footer()
                