.landing-page 
    include ../../components/header/header.pug 
    +header('', '')
    .content 
        include ../../components/number-search/number-search.pug 
    include ../../components/footer/footer.pug 
    +footer()