/*
    70px - 4.375rem
    140px - 8.75rem
    381px - 23.813rem
    768px - 23.813rem
    1366px - 85.375rem
*/ 

.landing-page {
    .content {
        padding: 70px 0 381px 140px;
        background: url('../../images/background_landing_page.png');
        background-position: center;
        background-size: cover;
    }
    @media(max-width: 1366px) {
        .content {
            padding: 5% 0 15% 5%;
        }
    }
    @media(max-width: 768px) {
        .content {
            padding: 5% 0;
            display: grid;
            justify-content: center;
        }
    }
}