@import '../../styles/virables.scss';

.landing-page {
  display: grid;
  grid-template-rows: max-content 51.875rem max-content;

  @media(max-width: 1280px) {
    grid-template-rows: max-content 50rem max-content;
  }

  @media(max-width: 1024px) {
    grid-template-rows: max-content 43.75rem max-content;
  }

  @media(max-width: 768px) {
    grid-template-rows: max-content auto max-content;
  }

  &__content {
    background: url('../../images/background-landing-page.jpg') no-repeat center;
    background-size: cover;
    padding: 4.375rem 0 0 8.75rem;
    display: grid;
    align-items: start;

    @media(max-width: 1366px) {
      padding: 4.375rem 5% 0 5%;
    }

    @media(max-width: 768px) {
      padding: 4.375rem 5%;
    }

    @media(max-width: 540px) {
      padding: 4.375rem 3%;
    }

    @media(max-width: 480px) {
      padding: 4.375rem 0;
      display: grid;
      justify-content: center;
    }
  }

  &__text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $Dark-75;
    text-align: right;
    width: 18.75rem;
    justify-self: end;
    align-self: end;
    margin: 0 8.438rem 1.25rem 0;
  }
}