mixin item(id, label, text)
    .rich-checkbox-buttons__item 
        input.rich-checkbox-buttons__input(type="checkbox" id=id)
        .rich-checkbox-buttons__container 
            label.rich-checkbox-buttons__label(for=id) #{label}
            span.rich-checkbox-buttons__text #{text}

.rich-checkbox-buttons 
    .rich-checkbox-buttons__item-list 
        +item('corridor', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
        +item('disabled', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера.')