mixin rich-checkbox-buttons(data)
  .rich-checkbox-buttons 
    .rich-checkbox-buttons__item-list
      each item in data 
        .rich-checkbox-buttons__item 
          .rich-checkbox-buttons__container 
            label.rich-checkbox-buttons__label 
              input.rich-checkbox-buttons__input(type="checkbox")
              |#{item.title}
            span.rich-checkbox-buttons__text #{item.text}