.rich-checkbox-buttons 
    .item-list 
        .item 
            input.item__input(type="checkbox" id="corridor")
            .item__container 
                label.item__label(for="corridor") Широкий коридор
                span.item__text Ширина коридоров в номере не менее 91 см.
        .item 
            input.item__input(type="checkbox" id="disabled")
            .item__container
                label.item__label(for="disabled") Помощник для инвалидов
                span.item__text На 1 этаже вас встретит специалист и проводит до номера.
        