.rich-checkbox-buttons 
    .rich-checkbox-buttons__item-list 
        .rich-checkbox-buttons__item 
            input.rich-checkbox-buttons__input(type="checkbox" id="corridor")
            .rich-checkbox-buttons__container 
                label.rich-checkbox-buttons__label(for="corridor") Широкий коридор
                span.rich-checkbox-buttons__text Ширина коридоров в номере не менее 91 см.
        .rich-checkbox-buttons__item 
            input.rich-checkbox-buttons__input(type="checkbox" id="disabled")
            .rich-checkbox-buttons__container
                label.rich-checkbox-buttons__label(for="disabled") Помощник для инвалидов
                span.rich-checkbox-buttons__text На 1 этаже вас встретит специалист и проводит до номера.
        