@import '../../styles/virables.scss';

.subscription-switch {
  display: grid;
  grid-template-columns: 2.5rem auto;
  column-gap: 0.625rem;
  transition: 1s;

  &__input {
    position: relative;
    width: 2.5rem;
    height: 1.25rem;
    cursor: pointer;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  &__input::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    border: 0.063rem solid $Dark-25;
    border-radius: 0.625rem;
    box-sizing: border-box;
  }

  &__input::after {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left: 0.25rem;
    top: 0.25rem;
    content: '';
    background: $Dark-25;
    border-radius: 50%;
  }

  &__input:checked::before {
    border: 0.063rem solid $Purple;
  }

  &__input:checked::after {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    left: 1.5rem;
  }
  
  &__label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $Dark-75;
    cursor: pointer;
  }
}