mixin subscription-switch(id, checked)
    .subscription-switch 
        input.subscription-switch__input(type="checkbox" id=id checked=checked)
        label.subscription-switch__label(for=id ) Получать спецпредложения