mixin item(text)
    .impression-of-the-room__item 
        .impression-of-the-room__circle 
        span.impression-of-the-room__text #{text}

mixin impression-of-the-room()      
    .impression-of-the-room 
        h3.impression-of-the-room__title Впечатления от номера
        .impression-of-the-room__diagram 
            .impression-of-the-room__sumptuously
            .impression-of-the-room__satisfactorily
            .impression-of-the-room__ok 
            .impression-of-the-room__content 
                span.impression-of-the-room__value-one 260
                span.impression-of-the-room__value-two голосов
        .impression-of-the-room__item-list 
            +item('Великолепно')
            +item('Хорошо')
            +item('Удовлетворительно')
            +item('Разочарован')
