mixin item-active()
  span.rate-button__item 
    span.rate-button__icon.icon-rate_button_active

mixin item-inActive()
  span.rate-button__item
    span.rate-button__icon.icon-rate_button_inActive

mixin rate-button(value)
  if value == 3 
    .rate-button
      +item-active()
      +item-active()
      +item-active()
      +item-inActive()
      +item-inActive()
  else if value == 4 
    .rate-button 
      +item-active()
      +item-active()
      +item-active()
      +item-active()
      +item-inActive()
  else if value == 5
    .rate-button
      +item-active()
      +item-active()
      +item-active()
      +item-active()
      +item-active()