mixin rate-button(value)
    if value == 3 
        .rate-button 
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_inActive
            i.icon-rate_button_inActive
    else if value == 4 
        .rate-button 
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_inActive
    else if value == 5
        .rate-button 
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active
            i.icon-rate_button_active

