mixin radio-buttons()
  .radio-buttons 
    .radio-buttons__button
      label.radio-buttons__label 
        input.radio-buttons__input(type="radio" name="gender" checked) 
        |Мужчина
    .radio-buttons__button
      label.radio-buttons__label 
        input.radio-buttons__input(type="radio" name="gender") 
        |Женщина
