.radio-buttons 
    .radio-buttons__button
        input.radio-buttons__input(type="radio" id="man" name="gender" checked) 
        label.radio-buttons__label(for="man") Мужчина
    .radio-buttons__button 
        input.radio-buttons__input(type="radio" id="woman" name="gender")
        label.radio-buttons__label(for="woman") Женщина