.radio-buttons 
    .button
        input.button__input(type="radio" id="man" name="gender" checked) 
        label.button__label(for="man") Мужчина
    .button 
        input.button__input(type="radio" id="woman" name="gender")
        label.button__label(for="woman") Женщина