{
  "extends": "airbnb-base",
  "rules": {
    "no-new": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": ["error", { "exceptMethods": ["createTextPrice"] }]
  },
  "env": {
    "jquery": true
  },
  "globals": {
    "document": true
  }
}