include ../../components/header/header.pug 
include ../../components/filter-date-dropdown/filter-date-dropdown.pug 
include ../../components/dropdown-guests/dropdown-guests.pug 
include ../../components/range-slider/range-slider.pug 
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
include ../../components/dropdown-number/dropdown-number.pug 
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../components/pagination/pagination.pug
include ../../components/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Toxin, hotel, отель, search rooms, поиск номеров")
    meta(name="description" content="Лучшие номера для вашей работы, отдыха и просто вдохновения")
    link(type="image/x-icon" rel="shortcut icon" href= require("../../images/favicon.svg").default)
    link(rel="mask-icon" href= require("../../images/favicon.svg").default color="gray")
    title Search Room
  body
    .search-room 
      +header()
      .search-room__content 
        .search-room__sidebar 
          .search-room__container-filter-date-dropdown
            h3.search-room__filter-date-dropdown-title даты пребывания в отеле
            +filter-date-dropdown('20 October, 2020', '25 October, 2020')
          .search-room__container-dropdown-guests
            h3.search-room__dropdown-guests-title гости 
            +dropdownGuests(2, 0, 1) 
          .search-room__container-range-slider 
            +range-slider('диапазон цены', 'Стоимость за сутки пребывания в номере')
          .search-room__container-checkbox-buttons
            h3.search-room__checkbox-buttons-title checkbox buttons
            +checkbox-buttons([
              { value: 'Можно курить', checked: false }, 
              { value: 'Можно с питомцами', checked: true }, 
              { value: 'Можно пригласить гостей (до 10 человек)', checked: true }
            ])
          .search-room__container-rich-checkbox-buttons
            h3.search-room__rich-checkbox-buttons-title доступность
            +rich-checkbox-buttons([
              { title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.' }, 
              { title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.' }
            ])
          .search-room__container-dropdown-number
            h3.search-room__dropdown-number-title удобства номера 
            +dropdownNumber(2, 2, 0) 
          .search-room__container-expandable-checkbox-list
          +expandable-checkbox-list('дополнительные удобства', [
            { value: 'Завтрак', checked: false },
            { value: 'Письменный стол', checked: true },
            { value: 'Стул для кормления', checked: true },
            { value: 'Кроватка', checked: true },
            { value: 'Телевизор', checked: false },
            { value: 'Шампунь', checked: false },
            { value: 'Телевизор', checked: false },
            { value: 'Шампунь', checked: false }
          ])
        .search-room__rooms
          h1.search-room__title Номера, которые мы для вас подобрали
          +pagination()
      .search-room__line 
      +footer()