- 
    var rooms = [
        {
            image_one: require('../src/images/rooms/room_one.png').default,
            image_two: require('../src/images/rooms/room_one.png').default,
            image_three: require('../src/images/rooms/room_one.png').default,
            image_four: require('../src/images/rooms/room_one.png').default,
            number: '888',
            number_state: 'люкс',
            price_value: '9 900', 
            rate_button_value: '5', 
            reviews_value: '145'
        },
        {
            image_one: require('../src/images/rooms/room_two.png').default,
            image_two: require('../src/images/rooms/room_two.png').default,
            image_three: require('../src/images/rooms/room_two.png').default,
            image_four: require('../src/images/rooms/room_two.png').default,
            number: '840',
            number_state: '',
            price_value: '9 900', 
            rate_button_value: '4', 
            reviews_value: '65'
        },
        {
            image_one: require('../src/images/rooms/room_three.png').default,
            image_two: require('../src/images/rooms/room_three.png').default,
            image_three: require('../src/images/rooms/room_three.png').default,
            image_four: require('../src/images/rooms/room_three.png').default,
            number: '980',
            number_state: 'люкс',
            price_value: '8 500', 
            rate_button_value: '3', 
            reviews_value: '35'
        },
        {
            image_one: require('../src/images/rooms/room_four.png').default,
            image_two: require('../src/images/rooms/room_four.png').default,
            image_three: require('../src/images/rooms/room_four.png').default,
            image_four: require('../src/images/rooms/room_four.png').default,
            number: '856',
            number_state: '',
            price_value: '7 300', 
            rate_button_value: '5', 
            reviews_value: '19'
        },
        {
            image_one: require('../src/images/rooms/room_five.png').default,
            image_two: require('../src/images/rooms/room_five.png').default,
            image_three: require('../src/images/rooms/room_five.png').default,
            image_four: require('../src/images/rooms/room_five.png').default,
            number: '740',
            number_state: '',
            price_value: '6 000', 
            rate_button_value: '4', 
            reviews_value: '44'
        },
        {
            image_one: require('../src/images/rooms/room_six.png').default,
            image_two: require('../src/images/rooms/room_six.png').default,
            image_three: require('../src/images/rooms/room_six.png').default,
            image_four: require('../src/images/rooms/room_six.png').default,
            number: '982',
            number_state: '',
            price_value: '5 800', 
            rate_button_value: '3', 
            reviews_value: '56'
        },
        {
            image_one: require('../src/images/rooms/room_seven.png').default,
            image_two: require('../src/images/rooms/room_seven.png').default,
            image_three: require('../src/images/rooms/room_seven.png').default,
            image_four: require('../src/images/rooms/room_seven.png').default,
            number: '678',
            number_state: '',
            price_value: '5 500', 
            rate_button_value: '5', 
            reviews_value: '45'
        },
        {
            image_one: require('../src/images/rooms/room_eight.png').default,
            image_two: require('../src/images/rooms/room_eight.png').default,
            image_three: require('../src/images/rooms/room_eight.png').default,
            image_four: require('../src/images/rooms/room_eight.png').default,
            number: '450',
            number_state: '',
            price_value: '5 300', 
            rate_button_value: '4', 
            reviews_value: '39'
        },
        {
            image_one: require('../src/images/rooms/room_nine.png').default,
            image_two: require('../src/images/rooms/room_nine.png').default,
            image_three: require('../src/images/rooms/room_nine.png').default,
            image_four: require('../src/images/rooms/room_nine.png').default,
            number: '350',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '77'
        },
        {
            image_one: require('../src/images/rooms/room_ten.png').default,
            image_two: require('../src/images/rooms/room_ten.png').default,
            image_three: require('../src/images/rooms/room_ten.png').default,
            image_four: require('../src/images/rooms/room_ten.png').default,
            number: '666',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '5', 
            reviews_value: '25'
        },
        {
            image_one: require('../src/images/rooms/room_eleven.png').default,
            image_two: require('../src/images/rooms/room_eleven.png').default,
            image_three: require('../src/images/rooms/room_eleven.png').default,
            image_four: require('../src/images/rooms/room_eleven.png').default,
            number: '444',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '15'
        },
        {
            image_one: require('../src/images/rooms/room_twelve.png').default,
            image_two: require('../src/images/rooms/room_twelve.png').default,
            image_three: require('../src/images/rooms/room_twelve.png').default,
            image_four: require('../src/images/rooms/room_twelve.png').default,
            number: '352',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '55'
        },
        {
            image_one: require('../src/images/rooms/room_twelve.png').default,
            image_two: require('../src/images/rooms/room_twelve.png').default,
            image_three: require('../src/images/rooms/room_twelve.png').default,
            image_four: require('../src/images/rooms/room_twelve.png').default,
            number: '352',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '55'
        },
        {
            image_one: require('../src/images/rooms/room_eleven.png').default,
            image_two: require('../src/images/rooms/room_eleven.png').default,
            image_three: require('../src/images/rooms/room_eleven.png').default,
            image_four: require('../src/images/rooms/room_eleven.png').default,
            number: '444',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '15'
        },
        {
            image_one: require('../src/images/rooms/room_ten.png').default,
            image_two: require('../src/images/rooms/room_ten.png').default,
            image_three: require('../src/images/rooms/room_ten.png').default,
            image_four: require('../src/images/rooms/room_ten.png').default,
            number: '666',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '5', 
            reviews_value: '25'
        },
        {
            image_one: require('../src/images/rooms/room_nine.png').default,
            image_two: require('../src/images/rooms/room_nine.png').default,
            image_three: require('../src/images/rooms/room_nine.png').default,
            image_four: require('../src/images/rooms/room_nine.png').default,
            number: '350',
            number_state: '',
            price_value: '5 000', 
            rate_button_value: '3', 
            reviews_value: '77'
        },
        {
            image_one: require('../src/images/rooms/room_eight.png').default,
            image_two: require('../src/images/rooms/room_eight.png').default,
            image_three: require('../src/images/rooms/room_eight.png').default,
            image_four: require('../src/images/rooms/room_eight.png').default,
            number: '450',
            number_state: '',
            price_value: '5 300', 
            rate_button_value: '4', 
            reviews_value: '39'
        },
        {
            image_one: require('../src/images/rooms/room_seven.png').default,
            image_two: require('../src/images/rooms/room_seven.png').default,
            image_three: require('../src/images/rooms/room_seven.png').default,
            image_four: require('../src/images/rooms/room_seven.png').default,
            number: '678',
            number_state: '',
            price_value: '5 500', 
            rate_button_value: '5', 
            reviews_value: '45'
        },
        {
            image_one: require('../src/images/rooms/room_six.png').default,
            image_two: require('../src/images/rooms/room_six.png').default,
            image_three: require('../src/images/rooms/room_six.png').default,
            image_four: require('../src/images/rooms/room_six.png').default,
            number: '982',
            number_state: '',
            price_value: '5 800', 
            rate_button_value: '3', 
            reviews_value: '56'
        },
        {
            image_one: require('../src/images/rooms/room_five.png').default,
            image_two: require('../src/images/rooms/room_five.png').default,
            image_three: require('../src/images/rooms/room_five.png').default,
            image_four: require('../src/images/rooms/room_five.png').default,
            number: '740',
            number_state: '',
            price_value: '6 000', 
            rate_button_value: '4', 
            reviews_value: '44'
        },
        {
            image_one: require('../src/images/rooms/room_four.png').default,
            image_two: require('../src/images/rooms/room_four.png').default,
            image_three: require('../src/images/rooms/room_four.png').default,
            image_four: require('../src/images/rooms/room_four.png').default,
            number: '856',
            number_state: '',
            price_value: '7 300', 
            rate_button_value: '5', 
            reviews_value: '19'
        },
        {
            image_one: require('../src/images/rooms/room_three.png').default,
            image_two: require('../src/images/rooms/room_three.png').default,
            image_three: require('../src/images/rooms/room_three.png').default,
            image_four: require('../src/images/rooms/room_three.png').default,
            number: '980',
            number_state: 'люкс',
            price_value: '8 500', 
            rate_button_value: '3', 
            reviews_value: '35'
        },
        {
            image_one: require('../src/images/rooms/room_two.png').default,
            image_two: require('../src/images/rooms/room_two.png').default,
            image_three: require('../src/images/rooms/room_two.png').default,
            image_four: require('../src/images/rooms/room_two.png').default,
            number: '840',
            number_state: '',
            price_value: '9 900', 
            rate_button_value: '4', 
            reviews_value: '65'
        },
        {
            image_one: require('../src/images/rooms/room_one.png').default,
            image_two: require('../src/images/rooms/room_one.png').default,
            image_three: require('../src/images/rooms/room_one.png').default,
            image_four: require('../src/images/rooms/room_one.png').default,
            number: '888',
            number_state: 'люкс',
            price_value: '9 900', 
            rate_button_value: '5', 
            reviews_value: '145'
        }
    ]

.search-room 
    include ../../components/header/header.pug 
    +header('', '')
    .content 
        aside.sidebar
            include ../../components/filter-date-dropdown/filter-date-dropdown.pug 
            include ../../components/dropdown-guests/dropdown-guests.pug 
            include ../../components/range-slider/range-slider.pug 
            include ../../components/checkbox-buttons/checkbox-buttons.pug 
            include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
            include ../../components/dropdown-number/dropdown-number.pug 
            include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug 
        .container 
            h1.title Номера, которые мы для вас подобрали
            include ../../components/pagination/pagination.pug
                - for(var i = 0; i <= 8; i++)
                        each obj in rooms
                            include ../../components/room/room.pug 
                            +room(obj.image_one, obj.image_two, obj.image_three, obj.image_four, obj.number, obj.number_state, obj.price_value, obj.rate_button_value, obj.reviews_value)
    .line     
    include ../../components/footer/footer.pug 
    +footer()