@import '../../styles/virables.scss';

/*
    1px - 0.063rem +
    10px - 0.625rem +
    16px - 1rem +
    20px - 1.25rem +
    24px - 1.5rem +
    30px - 1.875rem +
    33px - 2.063rem +
    40px - 2.5rem +
    60px - 3.75rem +
    70px - 4.375rem +
    140px - 8.75rem +
    266px - 16.625rem +
    270px - 16.875rem +
    580px - 36.25rem +
    1024px - 64rem +
    1366px - 85.375rem +
    1440px - 90rem +
*/ 

.search-room {
    .content {
        display: grid;
        grid-template-columns: 16.625rem auto;
        padding: 1.875rem 8.75rem 4.375rem 8.75rem;
        column-gap: 3.75rem;
    }
    @media(max-width: 85.375rem) {
        .content {
            padding: 1.875rem 5%;
        }
    }
    @media(max-width: 36.25rem) {
        .content {
            grid-template-columns: auto;
            justify-content: center;
        }
    }
    .dropdown-guests {
        width: 16.625rem;
        margin-top: 1.25rem;
    }
    .range-slider {
        width: 16.625rem;
        margin-top: 1.875rem;
    }
    .checkbox-buttons {
        margin-top: 1.875rem;
    }
    .rich-checkbox-buttons {
        margin-top: 2.063rem;
    }
    .dropdown-number {
        margin-top: 1.875rem;
    }
    .expandable-checkbox-list {
        margin-top: 1rem;
    }
    .pagination {
        margin-top: 1.25rem;
    }
    #rooms-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 16.875rem);
        justify-content: space-between;
        grid-gap: 1.25rem 0.625rem;
    }
    @media(max-width: 90rem) {
        #rooms-container {
            grid-template-columns: repeat(2, 16.875rem);
            justify-content: space-around;
        }
    }
    @media(max-width: 64rem) {
        #rooms-container {
            grid-template-columns: auto;
            justify-content: center;
        }
    }
    #pagination-container {
        margin-top: 2.5rem;
    }
    .rooms-title {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.875rem;
        color: $Dark-100;
    }
    @media(max-width: 90rem) {
        .rooms-title {
            text-align: center;
        }
    }
    @media(max-width: 36.25rem) {
        .rooms-title {
            margin-top: 30px;
        }
    }
    .line {
        width: 100%;
        height: 0.063rem;
        background: $Dark-25;
    }
}