<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Search Room
    body
        .search-room 
            include ../../components/header/header.pug 
            +header('', '')
            .content 
                .sidebar 
                    .filter-date-dropdown-container 
                        h3.filter-date-dropdown-container__title даты пребывания в отеле
                        include ../../components/filter-date-dropdown/filter-date-dropdown.pug 
                        +filter-date-dropdown('js-filter-date-dropdown')
                    .dropdown-guests-container 
                        h3.dropdown-guests-container__title гости 
                        #dropdown-guests 
                    .range-slider-container
                        .range-slider-container__titles 
                            h3.range-slider-container__title-one диапазон цены
                            input.range-slider-container__title-two(type="text", id='js-range-slider-input')
                        #range-slider 
                        span.range-slider-container__text Стоимость за сутки пребывания в номере
                    .checkbox-buttons-container 
                        h3.checkbox-buttons-container__title checkbox buttons
                        include ../../components/checkbox-buttons/checkbox-buttons.pug
                    .rich-checkbox-buttons-container 
                        h3.rich-checkbox-buttons-container__title доступность
                        include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
                    .dropdown-number-container 
                        h3.dropdown-number-container__title удобства номера 
                        #dropdown-number 
                    include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug
                    +expandable-checkbox-list('дополнительные удобства')
                .rooms
                    h1.title Номера, которые мы для вас подобрали
                    .pagination 
                        #pagination__rooms-container
                            include ../../components/room/room.pug 
                            - for(var i = 0; i <= 6; i++) 
                                +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
                                +room('room-two.jpg', '840', '', '9 990', '4', '65')
                                +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
                                +room('room-four.jpg', '856', '', '7 300', '5', '19')
                                +room('room-five.jpg', '740', '', '6 000', '4', '44')
                                +room('room-six.jpg', '982', '', '5 800', '3', '56')
                                +room('room-seven.jpg', '678', '', '5 500', '5', '45')
                                +room('room-eight.jpg', '450', '', '5 300', '4', '39')
                                +room('room-nine.jpg', '350', '', '5 000', '3', '77')
                                +room('room-ten.jpg', '666', '', '5 000', '5', '25')
                                +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
                                +room('room-twelve.jpg', '352', '', '5 000', '3', '55') 
                                +room('room-twelve.jpg', '352', '', '5 000', '3', '55')
                                +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
                                +room('room-ten.jpg', '666', '', '5 000', '5', '25')
                                +room('room-nine.jpg', '350', '', '5 000', '3', '77')
                                +room('room-eight.jpg', '450', '', '5 300', '4', '39')
                                +room('room-seven.jpg', '678', '', '5 500', '5', '45')
                                +room('room-six.jpg', '982', '', '5 800', '3', '56')
                                +room('room-five.jpg', '740', '', '6 000', '4', '44')
                                +room('room-four.jpg', '856', '', '7 300', '5', '19')
                                +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
                                +room('room-two.jpg', '840', '', '9 990', '4', '65')
                                +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
                            +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
                            +room('room-two.jpg', '840', '', '9 990', '4', '65')
                            +room('room-three.jpg', '980', 'люкс', '8 500', '3', '35')
                            +room('room-four.jpg', '856', '', '7 300', '5', '19')
                            +room('room-five.jpg', '740', '', '6 000', '4', '44')
                            +room('room-six.jpg', '982', '', '5 800', '3', '56')
                            +room('room-seven.jpg', '678', '', '5 500', '5', '45')
                            +room('room-eight.jpg', '450', '', '5 300', '4', '39')
                            +room('room-nine.jpg', '350', '', '5 000', '3', '77')
                            +room('room-ten.jpg', '666', '', '5 000', '5', '25')
                            +room('room-eleven.jpg', '444', '', '5 000', '3', '15')
                            +room('room-twelve.jpg', '352', '', '5 000', '3', '55')    
                        #pagination__container
            .line 
            include ../../components/footer/footer.pug 
            +footer()