/* 
    163px - 10.188rem
    768px - 48rem
*/ 

.authorization {
    .content {
        display: grid;
        justify-content: center;
        background: url('../../images/background_authorization_registration.png');
        background-position: center;
        background-size: cover;
        padding: 10.188rem 0;
    }
    @media(max-width: 48rem) {
        .content {
            padding: 15% 0;
        }
    }
}