.authorization 
    include ../../components/header/header.pug 
    +header('', '')
    .content
        include ../../components/sign-in/sign-in.pug
    include ../../components/footer/footer.pug 
    +footer()