.date-dropdown 
    .labels 
        label.label(for="datepicker") Прибытие
        label.label(for="datepicker") Выезд
    .inputs 
        span.entry-input ДД.ММ.ГГГГ 
            i.icon-expand_more_gray
        span.check-out-input ДД.ММ.ГГГГ
            i.icon-expand_more_gray
        input#datepicker(type="text")