@import '../../styles/virables.scss';

.date-dropdown {
    width: 20rem;
    display: grid;
    row-gap: 0.313rem;
    .labels {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 9.375rem);
        column-gap: 1.25rem;
    }
    .label {
        width: max-content;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.938rem;
        text-transform: uppercase;
        color: $Dark-100;
        cursor: pointer;
    }
    .inputs {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 9.375rem);
        column-gap: 1.25rem;
    }
    .entry-input, .check-out-input {
        border: 0.063rem solid $Dark-25;
        border-radius: 0.25rem;
        display: grid;
        grid-template-columns: auto 2.75rem;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $Dark-75;
        padding: 0.688rem 0 0.813rem 0.875rem;
    }
    .icon-expand_more {
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: $Dark-50;
        transform: rotate(-90deg);
        text-align: center;
        align-self: center;
    }
    #datepicker-date-dropdown {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
        opacity: 0;
        cursor: pointer;
    }
}