.date-dropdown 
    .labels 
        label.label(for="datepicker-date-dropdown") Прибытие
        label.label(for="datepicker-date-dropdown") Выезд
    .inputs 
        span.entry-input ДД.ММ.ГГГГ 
            i.icon-expand_more
        span.check-out-input ДД.ММ.ГГГГ
            i.icon-expand_more
        input#datepicker-date-dropdown(type="text")