mixin date-dropdown(entryDate, checkOutDate)
  .date-dropdown.js-date-dropdown
    .date-dropdown__entry.js-date-dropdown__entry
      span.date-dropdown__input-entry.js-date-dropdown__input-entry ДД.ММ.ГГГГ 
      span.date-dropdown__icon-expand-more.icon-expand_more
    .date-dropdown__check-out.js-date-dropdown__check-out
      span.date-dropdown__input-check-out.js-date-dropdown__input-check-out ДД.ММ.ГГГГ
      span.date-dropdown__icon-expand-more.icon-expand_more 
    input.date-dropdown__datepicker.js-date-dropdown__datepicker(type="text" data-entry-date= entryDate, data-check-out-date= checkOutDate)