@import '../../styles/virables.scss';

/*
    2px - 0.125rem +
    7px - 0.438rem +
    8px - 0.5rem +
    9px - 0.563rem +
    10px - 0.625rem
    12px - 0.75rem +
    13px - 0.813rem +
    14px - 0.875rem +
    15px - 0.938rem +
    18px - 1.125rem +
    20px - 1.25rem +
    22px - 1.375rem +
    44px - 2.75rem +
    320px - 20rem +
*/ 

.btn {
    display: inline-block;
    cursor: pointer;
}
.btn__value {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-transform: uppercase;
}
.btn_first {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.375rem;
}
.btn_first:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)
}
.btn_first .btn__value {
    display: inline-block;
    color: #ffffff;
    padding: 0.875rem 1.25rem 0.938rem 1.25rem;
}
.btn_first.btn_small .btn__value {
    padding: 0.563rem 1.25rem 0.625rem 1.25rem;
}
.btn_second {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.375rem;
    padding: 0.125rem;
}
.btn_second:hover {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%)
}
.btn_second .btn__value {
    display: inline-block;
    border-radius: inherit;
    background: #ffffff;
    color: $Purple;
    padding: 0.75rem 1.125rem 0.813rem 1.125rem;
}
.btn_second.btn_small .btn__value {
    padding: 0.438rem 1.125rem 0.5rem 1.125rem;
}
.btn_third .btn__value {
    color: $Purple;
}
.btn_third:hover .btn__value {
    color: $Dark-50;
}
.btn_fourth {
    width: 20rem;
    display: inline-grid;
    grid-template-columns: auto 2.75rem;
    justify-items: center;
    align-items: center;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 1.375rem;
}
.btn_fourth .btn__value {
    color: #ffffff;
    padding: 0.875rem 0 0.938rem 2.75rem;
}
.btn_fourth .icon-arrow_forward {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.125rem;
}
