@import '../../styles/virables.scss';

/* 
    2px - 0.125rem
    12px - 0.75rem
    13px - 0.813rem
    14px - 0.875rem
    15px - 0.938rem
    18px - 1.125rem
    20px - 1.25rem
    22px - 1.375rem
*/ 

.btn {
    display: inline-block;
    cursor: pointer;
}
.btn_first, .btn_first_active {
    padding: 15px 20px 14px 20px;
    border-radius: 22px;
    .btn__value {
        color: #ffffff;
    }
}
.btn_first, .btn_second {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}
.btn_first_active, .btn_second_active {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);  
}
.btn_second, .btn_second_active {
    padding: 2px;
    border-radius: 22px;
    .btn__value {
        padding: 13px 18px 12px 18px;
        color: $Purple;
        background: #ffffff;
        border-radius: inherit;
    }
}
.btn_third {
    .btn__value {
        color: $Dark-50;
    }
}
.btn_third_active {
    .btn__value {
        color: $Purple;
    }
}
.btn__value {
    display: block;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}