mixin btn(class_name, modifier, value)
    div(class= class_name + ' ' + modifier)
        span(class= class_name + '__value') #{value}
        if(class_name == 'btn-four')
            i.icon-arrow_forward