mixin expandable-checkbox(value, state)
  .expandable-checkbox-list__item 
    label.expandable-checkbox-list__label
      input.expandable-checkbox-list__input(type="checkbox" checked= state)
      |#{value}
mixin expandable-checkbox-list(title)
  .expandable-checkbox-list.js-expandable-checkbox-list 
    h3.expandable-checkbox-list__title #{title}
      span.expandable-checkbox-list__icon-expand-more.icon-expand_more
    .expandable-checkbox-list__item-list 
      +expandable-checkbox('Завтрак', false)
      +expandable-checkbox('Письменный стол', true)
      +expandable-checkbox('Стул для кормления', true)
      +expandable-checkbox('Кроватка', true)
      +expandable-checkbox('Телевизор', false)
      +expandable-checkbox('Шампунь', false)
      +expandable-checkbox('Телевизор', false)
      +expandable-checkbox('Шампунь', false)