mixin expandable-checkbox-list(title, data)
  .expandable-checkbox-list.js-expandable-checkbox-list 
    h3.expandable-checkbox-list__title #{title}
      span.expandable-checkbox-list__icon-expand-more.icon-expand_more
    .expandable-checkbox-list__item-list 
      each item in data 
        .expandable-checkbox-list__item 
          label.expandable-checkbox-list__label
            input.expandable-checkbox-list__input(type="checkbox" checked= item.checked)
            |#{item.value}