@import '../../styles/virables.scss';

/* 
    1px - 0.063rem +
    3px - 0.188rem +
    4px - 0.25rem +
    6px - 0.375rem +
    8px - 0.5rem +
    10px - 0.625rem +
    12px - 0.75rem +
    14px - 0.875rem +
    15px - 0.938rem +
    18px - 1.125rem +
    20px - 1.25rem +
    44px - 2.75rem +
    266px - 16.625rem +
*/ 

.expandable-checkbox-list {
    width: 16.625rem;
    .title {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.938rem;
        text-transform: uppercase;
        color: $Dark-100;
        display: grid;
        grid-template-columns: auto 2.75rem;
        grid-template-rows: 2.75rem;
        align-items: center;
        cursor: pointer;
    }
    .icon {
        justify-self: center;
        transform: rotate(-90deg);
        color: $Dark-50;
    }
    .item-list {
        width: 16.625rem;
        position: absolute;
        background: #FFFFFF;
        display: none;
        row-gap: 0.625rem;
        margin-top: 0.188rem;
    }
    .item {
        display: grid;
        grid-template-columns: 1.25rem max-content;
        column-gap: 0.625rem;
    }
    .item__input {
        display: grid;
        position: relative;
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    .item__input::before {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        border: 0.063rem solid $Dark-25;
        border-radius: 0.25rem;
        background: #FFFFFF;
        box-sizing: border-box;
    }
    .item__input:checked::before {
        border: 0.063rem solid $Purple;
    }
    .item__input:checked::after {
        position: absolute;
        width: 0.375rem;
        height: 0.5rem;
        align-self: center;
        justify-self: center;
        content: '';
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        transform: rotate(45deg);
        clip-path: polygon(0 0.375rem, 0.25rem 0.375rem, 0.25rem 0, 0.375rem 0, 0.375rem 0.5rem, 0 0.5rem);
    }
    .item__label {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $Dark-50;
        cursor: pointer;
    }
}
.expandable-checkbox-list_active .item-list {
    display: grid;
}
.expandable-checkbox-list_active .icon {
    transform: rotate(90deg);
}