mixin item (className, title)
    .item(class= className)
        span.item__title= title
        .item__btns
            span.item__btn-dic.js-item__btn-dic -
            span.item__value 0
            span.item__btn-inc.js-item__btn-inc +
.dropdown-number.js-dropdown-number
    h3.label.js-label удобства номера
    span.expression.js-expression Сколько удобств
        i.icon-expand_more
    .container-parent
        .container-items-btns
            .items
                +item('js-bedrooms', 'Спальни')
                +item('js-beds', 'Кровати')
                +item('js-bathrooms', 'Ванные комнаты')