@import '../../styles/virables.scss';

/*
    266px - 16.625rem +
    18px - 1.125rem +
    16px - 1rem +
    15px - 0.9375rem +
    14px - 0.875rem +
    12px - 0.75rem +
    10px - 0.625rem +
    8px - 0.5rem +
    6px - 0.375rem +
    3px - 0.1875rem +
    2px - 0.125rem +
    1px - 0.0625rem +
*/ 

.range-slider {
    width: 16.625rem;
    .range-slider__titles {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        margin-bottom: 1.125rem;
    }
    .range-slider__title-one, .range-slider__title-two {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
    }
    .range-slider__title-one {
        font-weight: bold;
        color: $Dark-100;

    }
    .range-slider__title-two {
        font-weight: normal;
        color: $Dark-50;
        text-align: right;
        background: none;
        border: none;
    }
}

.slider {
    display: grid;
    .slider__scale {
        border: 0.0625rem solid rgba(31, 32, 65, 0.25);
        border-radius: 0.1875rem;
    }
    .slider__scale-value {
        border-radius: 0.1875rem;
    }
    .slider__runner {
        width: 1rem;
        height: 1rem;
        border: 0.125rem solid #FFFFFF;
        border-radius: 0.625rem;
    }
    .slider__window-value {
        padding: 5px;
        border-radius: 5px;
        font-size: 0.875rem;
    }
}
.slider_gorizontal {
    grid-template-columns: 0.5rem auto 0.5rem;
    .slider__scale {
        height: 0.375rem;
    }
    .slider__scale-value {
        height: 0.375rem;
    }
}