.range-slider 
    .range-slider__container
        h3.title Диапазон цены
        span.range-slider__value 5 000₽ - 10 000₽
    input(type="hidden").range-slider__input
    span.range-slider__text Стоимость за сутки пребывания в номере