mixin range-slider(title, text= '')
  .range-slider 
    .range-slider__container
      h3.range-slider__title #{title}
      input(type="text").range-slider__input.js-range-slider__input
    .range-slider__slider.js-range-slider__slider 
    if text != ''
      span.range-slider__text #{text}