include ../../components/company-logo/company-logo.pug
include ../../components/text-field/text-field.pug  
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/date-dropdown/date-dropdown.pug 
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/subscription-text-field/subscription-text-field.pug 
include ../../components/checkbox-buttons/checkbox-buttons.pug 
include ../../components/radio-buttons/radio-buttons.pug 
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug 
include ../../components/rate-button/rate-button.pug 
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug 
include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug 
include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
include ../../components/bullet-list/bullet-list.pug 
include ../../components/room-amenities/room-amenities.pug 
include ../../components/comment/comment.pug 

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Form Elements 
    body
      .form-elements 
        +company-logo()
        .form-elements__content
          section.form-elements__component-list
            .form-elements__column 
              .form-elements__container-text-field 
                .form-elements__titles
                  h3.form-elements__title text field
                  h3.form-elements__state-name default 
                +text-field('text', 'Email')

              .form-elements__container-dropdown-guests
                .form-elements__titles 
                  h3.form-elements__title dropdown 
                  h3.form-elements__state-name default
                .js-dropdown-guests(data-adults="0", data-children="0", data-babies="0") 
              
              .form-elements__container-masked-text-field
                .form-elements__titles
                  h3.form-elements__title masked text field 
                  h3.form-elements__state-name default
                +masked-text-field()

              .form-elements__container-date-dropdown
                .form-elements__titles 
                  h3.form-elements__title date dropdown 
                  h3.form-elements__title date dropdown 
                +date-dropdown(true, '20 October, 2020', '', true)

              .form-elements__container-filter-date-dropdown
                h3.form-elements__title filter date dropdown 
                +filter-date-dropdown('20 October, 2020', '25 October, 2020') 

              .form-elements__container-subscription-text-field
                h3.form-elements__title subscription text field 
                +subscription-text-field()

            .form-elements__column 
              .form-elements__container-checkbox-buttons
                h3.form-elements__title checkbox buttons 
                +checkbox-buttons([
                  { value: 'Можно курить', checked: false }, 
                  { value: 'Можно с питомцами', checked: true }, 
                  { value: 'Можно пригласить гостей (до 10 человек)', checked: true }
                ])

              .form-elements__container-radio-buttons
                h3.form-elements__title radio buttons 
                +radio-buttons()

              .form-elements__container-toggle
                h3.form-elements__title toggle 
                .form-elements__toggle-item-list 
                  +toggle(true) 
                  +toggle(false)

              .form-elements__container-like-button
                h3.form-elements__title like button 
                .form-elements__like-button-item-list 
                  +like-button('inActive', '2')
                  +like-button('active', '12')

              .form-elements__container-rate-button
                h3.form-elements__title rate button 
                .form-elements__rate-button-item-list 
                  +rate-button('4')
                  +rate-button('5')

            .form-elements__column 
              .form-elements__container-range-slider
                .form-elements__titles 
                  h3.form-elements__title range slider
                  input.form-elements__range-slider-input.js-range-slider-input(type="text")
                .js-range-slider

              .form-elements__container-buttons
                h3.form-elements__title buttons  
                .form-elements__buttons-item-list
                  +button('btn_background_purple btn_color_white', 'click me')
                  +button('btn_background_purple btn_color_white btn_transporent', 'click me')
                  +button('btn_background_white btn_color_purple', 'click me')
                  +button('btn_background_white btn_color_purple btn_transporent', 'click me')
                  +button('btn_background_none btn_color_purple', 'click me')
                  +button('btn_background_none btn_color_gray', 'click me')
                  +button('btn_size_big btn_color_white', 'Перейти к оплате')

              .form-elements__container-pagination
                h3.form-elements__title pagination
                +pagination('pagination_items-hide')

          section.form-elements__component-list
            .form-elements__container-dropdown-number
              .form-elements__titles
                h3.form-elements__title dropdown
                h3.form-elements__state-name default
              .js-dropdown-number(data-bedrooms="2", data-beds="2", data-bathrooms="0")
            .form-elements__container-dropdown-guests
              h3.form-elements__title dropdown 
              .js-dropdown-guests(data-adults="0", data-children="0", data-babies="0") 
            .form-elements__container-dropdown-guests
              h3.form-elements__title dropdown
              .js-dropdown-guests(data-adults="2", data-children="1", data-babies="0") 

          section.form-elements__component-list
            +expandable-checkbox-list('expandable checkbox list', [
              { value: 'Завтрак', checked: false },
              { value: 'Письменный стол', checked: true },
              { value: 'Стул для кормления', checked: true },
              { value: 'Кроватка', checked: true },
              { value: 'Телевизор', checked: false },
              { value: 'Шампунь', checked: false },
              { value: 'Телевизор', checked: false },
              { value: 'Шампунь', checked: false }
            ])
            .form-elements__container-rich-checkbox-buttons
              h3.form-elements__title rich checkbox buttons 
              +rich-checkbox-buttons([
                { title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.' }, 
                { title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.' }
              ])
            .form-elements__container-bullet-list
              h3.form-elements__title bullet list
              +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
          
          section.form-elements__component-list
            +room-amenities([
              { icon: 'icon-emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены' },
              { icon: 'icon-location_city', title: 'Удобство', text: 'Окно в каждой из спален' },
              { icon: 'icon-whatshot', title: 'Уют', text: 'Номер оснащён камином' }
            ])
            .form-elements__container-comment
              +comment(
                'userpic-one.png', 
                'Мурад Сарафанов', 
                '5 дней назад', 
                'active', 
                '12', 
                ` 
                    Великолепный матрас на кровати в основной спальне! 
                    А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. 
                    Выкрикивал комплименты повару — никто не жаловался из соседей.
                `
              )