<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Form Elements 
    body
      .form-elements 
        include ../../components/logotip/logotip.pug 
        +logotip('gray')
        section.form-elements__component-list-first
          .form-elements__column 
            .form-elements__container-text-field 
              .form-elements__titles
                h3.form-elements__title text field
                h3.form-elements__state-name default
              include ../../components/text-field/text-field.pug  
              +text-field('text', 'Email')

            .form-elements__container-dropdown-guests
              .form-elements__titles 
                h3.form-elements__title dropdown 
                h3.form-elements__state-name default
              .js-dropdown-guests(data-adults="0", data-children="0", data-babies="0") 
            
            .form-elements__container-masked-text-field
              .form-elements__titles
                h3.form-elements__title masked text field 
                h3.form-elements__state-name default
              include ../../components/masked-text-field/masked-text-field.pug
              +masked-text-field()

            .form-elements__container-date-dropdown
              .form-elements__titles 
                h3.form-elements__title date dropdown 
                h3.form-elements__title date dropdown 
              include ../../components/date-dropdown/date-dropdown.pug 
              +date-dropdown(true, '20 October, 2020', '', true)

            .form-elements__container-filter-date-dropdown
              h3.form-elements__title filter date dropdown 
              include ../../components/filter-date-dropdown/filter-date-dropdown.pug
              +filter-date-dropdown('20 October, 2020', '25 October, 2020') 

            .form-elements__container-subscription-text-field
              h3.form-elements__title subscription text field 
              include ../../components/subscription-text-field/subscription-text-field.pug 
              +subscription-text-field()

          .form-elements__column 
            .form-elements__container-checkbox-buttons
              h3.form-elements__title checkbox buttons 
              include ../../components/checkbox-buttons/checkbox-buttons.pug 
              +checkbox-buttons()

            .form-elements__container-radio-buttons
              h3.form-elements__title radio buttons 
              include ../../components/radio-buttons/radio-buttons.pug 
              +radio-buttons()

            .form-elements__container-subscription-switch
              h3.form-elements__title toggle 
              .form-elements__subscription-switch-item-list 
                include ../../components/subscription-switch/subscription-switch.pug
                +subscription-switch('toggle-one', true) 
                +subscription-switch('toggle-two', false)

            .form-elements__container-like-button
              h3.form-elements__title like button 
              .form-elements__like-button-item-list 
                include ../../components/like-button/like-button.pug 
                +like-button('inActive', '2')
                +like-button('active', '12')

            .form-elements__container-rate-button
              h3.form-elements__title rate button 
              .form-elements__rate-button-item-list 
                include ../../components/rate-button/rate-button.pug 
                +rate-button('4')
                +rate-button('5')

          .form-elements__column 
            .form-elements__container-range-slider
              .form-elements__titles 
                h3.form-elements__title range slider
                input.form-elements__range-slider-input.js-range-slider-input(type="text")
              .js-range-slider

            .form-elements__container-buttons
              h3.form-elements__title buttons 
              include ../../components/button/button.pug 
              .form-elements__buttons-item-list
                +button('button', 'btn_purple', 'click me')
                +button('button', 'btn_purple btn_transporent', 'click me')
                +button('button', 'btn_white', 'click me')
                +button('button', 'btn_white btn_transporent', 'click me')
                +button('button', 'btn_no-frame-purple', 'click me')
                +button('button', 'btn_no-frame-gray', 'click me')
                +button('button', 'btn_big', 'Перейти к оплате')

            .form-elements__container-pagination
              h3.form-elements__title pagination
              include ../../components/pagination/pagination.pug 
              +pagination('pagination_items-hide')

        section.form-elements__component-list-second 
          .form-elements__container-dropdown-number
            .form-elements__titles
              h3.form-elements__title dropdown
              h3.form-elements__state-name default
            .js-dropdown-number(data-bedrooms="2", data-beds="2", data-bathrooms="0")
          .form-elements__container-dropdown-guests
            h3.form-elements__title dropdown 
            .js-dropdown-guests(data-adults="0", data-children="0", data-babies="0") 
          .form-elements__container-dropdown-guests
            h3.form-elements__title dropdown
            .js-dropdown-guests(data-adults="2", data-children="1", data-babies="0") 

        section.form-elements__component-list-third
          include ../../components/expandable-checkbox-list/expandable-checkbox-list.pug 
          +expandable-checkbox-list('expandable checkbox list')
          .form-elements__container-rich-checkbox-buttons
            h3.form-elements__title rich checkbox buttons 
            include ../../components/rich-checkbox-buttons/rich-checkbox-buttons.pug 
            +rich-checkbox-buttons()
          .form-elements__container-bullet-list
            h3.form-elements__title bullet list
            include ../../components/bullet-list/bullet-list.pug 
            +bullet-list()
        
        section.form-elements__component-list-fourth
          include ../../components/room-amenities/room-amenities.pug 
          +room-amenities()
          .form-elements__container-comment
            include ../../components/comment/comment.pug 
            +comment(
              'userpic-one.png', 
              'Мурад Сарафанов', 
              '5 дней назад', 
              'active', 
              '12', 
              ` 
                  Великолепный матрас на кровати в основной спальне! 
                  А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. 
                  Выкрикивал комплименты повару — никто не жаловался из соседей.
              `
            )