@import '../../styles/virables.scss';

.form-elements {
  display: grid;
  align-content: start;
  padding-bottom: 1.875rem;
  background: #ffffff;

  &__component-list-first {
    width: 72.5rem;
    justify-self: center;
    display: grid;
    grid-template-columns: 20rem 16.25rem 20rem;
    justify-content: space-between;
    margin: 4.0625rem 0 0 0;

    @media(max-width: 1440px) {
      width: 100%;
      padding: 0 10%;
    }

    @media(max-width: 1280px) {
      padding: 0 5%;
      grid-template-columns: 20rem 16.25rem;
      justify-content: space-around;
    }

    @media(max-width: 640px) {
      padding: 0 3%;
      grid-template-columns: 20rem;
    }
  }


  &__container-text-field,
  &__container-dropdown-guests,
  &__container-masked-text-field,
  &__container-date-dropdown,
  &__container-filter-date-dropdown,
  &__container-subscription-text-field,
  &__container-dropdown-number {
    display: grid;
    row-gap: 0.3125rem;
  }

  @media(max-width: 640px) {
    &__container-two-dropdown-guests {
      margin-top: 2.5rem;
    }
  }

  &__container-dropdown-number,
  &__container-range-slider {
    width: 16.625rem;
  }

  &__container-checkbox-buttons,
  &__container-radio-buttons,
  &__container-subscription-switch,
  &__container-like-button,
  &__container-rate-button,
  &__container-pagination,
  &__container-range-slider,
  &__container-buttons,
  &__container-rich-checkbox-buttons,
  &__container-bullet-list {
    display: grid;
    row-gap: 1rem;
  }

  @media(max-width: 1280px) {
    &__container-range-slider {
      margin-top: 2.5rem;
    }
  }

  @media(max-width: 640px) {
    &__container-checkbox-buttons {
      margin-top: 2.5rem;
    }
  }
  
  &__container-dropdown-guests,
  &__container-masked-text-field {
    margin-top: 1.25rem;
  }

  &__container-date-dropdown,
  &__container-filter-date-dropdown,
  &__container-subscription-text-field {
    margin-top: 2.5rem;
  }

  &__container-radio-buttons,
  &__container-subscription-switch,
  &__container-like-button,
  &__container-rate-button,
  &__container-buttons,
  &__container-pagination {
    margin-top: 2.5rem;
  }

  &__titles {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  &__container-date-dropdown &__titles {
    display: grid;
    grid-template-columns: repeat(2, 9.375rem);
    column-gap: 1.25rem;
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $Dark-100;
  }

  &__state-name {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: right;
    text-transform: uppercase;
    color: $Dark-50;
  }

  &__container-range-slider &__range-slider-input {
    border: none;
    background: #ffffff;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $Dark-50;
  }

  &__subscription-switch-item-list {
    display: grid;
    row-gap: 0.625rem;
  }

  &__like-button-item-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.625rem;
  }
  
  &__rate-button-item-list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 1.25rem;
  }

  &__buttons-item-list {
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 6.188rem);
    column-gap: 1.25rem;
    row-gap: 1.875rem;
  }

  &__component-list-second {
    margin-top: 6.25rem;
    width: 72.5rem;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-between;

    @media(max-width: 1440px) {
      width: 100%;
      padding: 0 10%;
    }

    @media(max-width: 1280px) {
      grid-template-columns: repeat(2, 20rem);
      justify-content: space-around;
      padding: 0 5%;
    }

    @media(max-width: 640px) {
      padding: 0 3%;
      grid-template-columns: 20rem;
    }
  }

  &__component-list-second {
    @media(max-width: 1280px) {
      display: grid;
      row-gap: 2.5rem;
    }
  }

  &__component-list-second div {
    margin-top: 0;
  }

  &__component-list-third {
    margin-top: 3.4375rem;
    width: 72.5rem;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-between;

    @media(max-width: 1440px) {
      width: 100%;
      padding: 0 10%;
    }

    @media(max-width: 1280px) {
      padding: 0 5%;
      grid-template-columns: repeat(2, 20rem);
      grid-template-rows: 0.9375rem auto;
      justify-content: space-around;
      row-gap: 2.5rem;
    }

    @media(max-width: 640px) {
      padding: 0 3%;
      grid-template-columns: 20rem;
    }
  }

  &__component-list-fourth {
    margin-top: 6.25rem;
    width: 72.5rem;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: space-between;
    padding-bottom: 1.875rem;

    @media(max-width: 1440px) {
      width: 100%;
      padding: 0 10%;
    }

    @media(max-width: 1280px) {
      width: 100%;
      padding: 0 5%;
      grid-template-columns: repeat(2, 20rem);
      justify-content: space-around;
    }

    @media(max-width: 640px) {
      padding: 0 3%;
      grid-template-columns: 20rem;
    }
  }

  &__container-comment {
    grid-column: 2 / 4;

    @media(max-width: 1280px) {
      grid-column: 2 / 3;
    }
    
    @media(max-width: 640px) {
      margin-top: 2.5rem;
      grid-column: 1 / 2;
    }
  }
}