@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/montserrat-bold.woff2") format("woff2"),
    url("../../assets/fonts/montserrat-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/montserrat-regular.woff2") format("woff2"),
    url("../../assets/fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../../assets/fonts/icomoon.woff2") format("woff2"),
  url("../../assets/fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
  content: "\e900";
}

.icon-arrow_forward:before {
  content: "\e901";
}

.icon-emoticon:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-like_button_active:before {
  content: "\e905";
}

.icon-like_button_inActive:before {
  content: "\e906";
}

.icon-location_city:before {
  content: "\e907";
}

.icon-rate_button_active:before {
  content: "\e908";
}

.icon-rate_button_inActive:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

.icon-cosiness:before {
  content: "\e90b";
}