@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold.ttf') format('truetype'),
    url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.ttf') format('truetype'),
    url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand-bold.woff') format('woff'),
    url('../fonts/quicksand-bold.ttf') format('truetype'),
    url('../fonts/quicksand-bold.svg#quicksandbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand-regular.woff') format('woff'),
    url('../fonts/quicksand-regular.ttf') format('truetype'),
    url('../fonts/quicksand-regular.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ce0cz1');
  src:  url('../fonts/icomoon.eot?ce0cz1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ce0cz1') format('truetype'),
    url('../fonts/icomoon.woff?ce0cz1') format('woff'),
    url('../fonts/icomoon.svg?ce0cz1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expand_more:before {
  content: "\e900";
}

.icon-arrow_forward:before {
  content: "\e901";
}

.icon-emoticon:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-like_button_active:before {
  content: "\e905";
}

.icon-like_button_inActive:before {
  content: "\e906";
}

.icon-location_city:before {
  content: "\e907";
}

.icon-rate_button_active:before {
  content: "\e908";
}

.icon-rate_button_inActive:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

.icon-cosiness:before {
  content: "\e90b";
}