@import './virables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(min-width: 1920px) {
    html {
        font-size: 19px;
    }
}

@media(max-width: 1920px) {
    html {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 13px;
    }
}

body {
    display: grid;
    min-height: 100vh;
}