doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title FSD
    body
        //include ../src/pages/authorization/authorization.pug 
        //include ../src/pages/registration/registration.pug 
        //include ../src/pages/landing-page/landing-page.pug
        //include ../src/pages/room-details/room-details.pug 
        //include ../src/pages/search-room/search-room.pug 