.registration 
    include ../../components/header/header.pug 
    +header('', '')
    .content 
        include ../../components/sign-up/sign-up.pug 
    include ../../components/footer/footer.pug 
    +footer()