<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Registration
    body
        .registration 
            include ../../components/header/header.pug 
            +header()
            .registration__content 
                include ../../components/registration-form/registration-form.pug
                +registration-form()
            include ../../components/footer/footer.pug
            +footer()