.registration {
  display: grid;
  grid-template-rows: max-content auto max-content;

  &__content {
    display: grid;
    justify-content: center;
    padding: 1.188rem 0;
    height: 42.75rem;
    background: url('../../images/background-authorization-registration.jpg') no-repeat center;
    background-size: cover;
  }

  &__container-footer {
    grid-row: 3 / 4;
  }
}