include ../../components/header/header.pug
include ../../components/registration-form/registration-form.pug
include ../../components/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="Toxin, hotel, отель, registration, регистрация")
    meta(name="description" content="Лучшие номера для вашей работы, отдыха и просто вдохновения")
    link(type="image/x-icon" rel="shortcut icon" href= require("../../../assets/images/favicon.svg").default)
    link(rel="mask-icon" href= require("../../../assets/images/favicon.svg").default color="gray")
    title Registration
  body
    .registration  
      +header()
      .registration__content 
        +registration-form()
      .registration__container-footer 
        +footer()