include ../../components/header/header.pug
include ../../components/registration-form/registration-form.pug
include ../../components/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="../src/images/logotip-gray.svg")
    title Registration
  body
    .registration  
      +header()
      .registration__content 
        +registration-form()
      +footer()