/*
    20px - 1.25rem +
*/ 

.registration {
    &__content {
        display: grid;
        justify-content: center;
        padding: 1.25rem 0;
        background: url('../../images/background-authorization-registration.jpg') no-repeat center;
        background-size: cover;
    }
}