@import '../../styles/virables.scss';

/* 
    14px - 0.875rem +
    17px - 1.063rem +
    19px - 1.188rem +
    24px - 1.5rem +
*/ 

.cancel {
    display: grid;
    row-gap: 1.063rem;

    &__title {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.188rem;
        line-height: 1.5rem;
        color: $Dark-100;
    }
    
    &__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;
    }
}