include ../dropdown-guests/dropdown-guests.pug 
include ../date-dropdown/date-dropdown.pug
include ../button/button.pug 

mixin search-room-form(entryDate='', checkOutDate='')
  form.search-room-form
    h1.search-room-form__title Найдём номера под ваши пожелания
    .search-room-form__date-dropdown-titles 
      h3.search-room-form__date-dropdown-title прибытие
      h3.search-room-form__date-dropdown-title выезд 
    .search-room-form__container-date-dropdown 
      +date-dropdown(entryDate, checkOutDate)
    h3.search-room-form__dropdown-guests-title гости
    +dropdownGuests(0, 0, 0) 
    .search-room-form__container-button
      +button({
        size: 'big',
        color: 'white', 
        text: 'Подобрать номер' 
      })