@import '../../styles/virables.scss';

/*
    50px - 3.125rem +
    24px - 1.5rem +
    14px -  0.875rem +
    10px - 0.625rem +
    2px - 0.125rem +
*/ 

.comment {
    display: grid;
    align-content: start;
    row-gap: 0.625rem;
    .comment__container-one,
    .comment__container-two {
        display: grid;
        grid-template-columns: 3.125rem auto;
        column-gap: 0.625rem;
    }
    .comment__img {
        width: 100%;
        border: 0.125rem solid #ffffff;
        border-radius: 50%;
    }
    .comment__title-one,
    .comment__title-two,
    .comment__text {
        font-family: Montserrat;
        font-style: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: rgba(31, 32, 65, 0.75);
    }
    .comment__title-one {
        font-weight: bold;
    }
    .comment__title-two,
    .comment__text {
        font-weight: normal;

    }
    .comment .like-button {
        justify-self: center;
    }
}