@import '../../styles/virables.scss';

/* 
    2px - 0.125rem +
    10px - 0.625rem +
    14px - 0.875rem +
    20px - 1.25rem +
    24px - 1.5rem +
    48px - 3rem
*/ 

.comment {
    display: grid;
    row-gap: 0.625rem;
    .container-one {
        display: grid;
        grid-template-columns: 48px auto;
        grid-template-rows: repeat(2, 1.5rem);
        column-gap: 0.625rem;
    }
    .container-one__icon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 0.125rem solid #FFFFFF;
        box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.1);
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .container-one__name, .container-one__date {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;
    }
    .container-one__name {
        font-weight: bold;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .container-one__date {
        font-weight: normal;
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }
    .container-two {
        display: grid;
        grid-template-columns: 3rem auto;
        column-gap: 0.625rem;
    }
    .like-button {
        justify-self: center;
    }
    .container-two__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;
    }
}