@import '../../styles/virables.scss';

.comment {
  display: grid;
  align-content: start;
  row-gap: 0.4375rem;

  &__container-names,
  &__container-comment {
    margin-top: 0.188rem;
    display: grid;
    grid-template-columns: 2.875rem auto;
    column-gap: 0.625rem;
  }

  &__img {
    width: 100%;
    border: 0.125rem solid #ffffff;
    border-radius: 50%;
  }

  &__title-name,
  &__title-time,
  &__text {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $Dark-75;
  }

  &__title-name {
    font-weight: bold;
  }

  &__title-time,
  &__text {
    font-weight: normal;
  }
  
  &__container-like-button {
    justify-self: center;
  }
}