mixin item(icon, textOne, textTwo)
    .room-amenities__item 
        .room-amenities__container-icon
            span(class=`room-amenities__icon ${icon}`)
        .room-amenities__container-texts
            span.room-amenities__text-one #{textOne}
            span.room-amenities__text-two #{textTwo}

mixin room-amenities()
    .room-amenities 
        .room-amenities__item-list 
            +item('icon-emoticon', 'Комфорт', 'Шумопоглощающие стены')
            +item('icon-location_city', 'Удобство', 'Окно в каждой из спален')
            +item('icon-whatshot', 'Уют', 'Номер оснащён камином')

