@import '../../styles/virables.scss';

/* 
    1px - 0.063rem +
    10px - 0.63rem +
    14px - 0.875rem +
    19px - 1.188rem +
    20px - 1.25rem +
    24px - 1.5rem +
    41px - 2.563rem +
    48px - 3rem +
    280px - 17.5rem +
*/ 

.room-amenities {
    width: 17.5rem;

    &__item {
        display: grid;
        grid-template-columns: 3rem auto;
        row-gap: 3rem;
        column-gap: 0.63rem;
        
        &:nth-child(1) {
            padding-bottom: 1.25rem;;
        }

        &:nth-child(2) {
            padding: 1.25rem 0;
            border-top: 0.063rem solid rgba(31, 32, 65, 0.1);
            border-bottom: 0.063rem solid rgba(31, 32, 65, 0.1);
        }

        &:nth-child(3) {
            padding-top: 1.25rem;;
        }
    }

    &__container-icon {
        display: grid;
        justify-content: center;
        align-content: center;
    }

    &__icon {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: transparent;
        font-size: 2.563rem;
        line-height: 2.563rem;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &__container-texts {
        display: grid;
    }

    &__text-one, 
    &__text-two {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;        
    }

    &__text-one {
        font-weight: bold;
    }
    
    &__text-two {
        font-weight: normal;
    }
}