mixin item(icon, textOne, textTwo)
    .intelligence__item 
        .intelligence__container-icon
            i(class=`intelligence__icon ${icon}`)
        .intelligence__container-texts
            span.intelligence__text-one #{textOne}
            span.intelligence__text-two #{textTwo}

.intelligence 
    .intelligence__item-list 
        +item('icon-emoticon', 'Комфорт', 'Шумопоглощающие стены')
        +item('icon-location_city', 'Удобство', 'Окно в каждой из спален')
        +item('icon-whatshot', 'Уют', 'Номер оснащён камином')

