.intelligence 
    h3.title Сведения о номере
    .item-list 
        .item 
            .item__container-icon
                i.item__icon.icon-emoticon
            .item__container
                .item__title Комфорт 
                .item__text Шумопоглощающие стены
        .item 
            .item__container-icon
                i.item__icon.icon-location_city
            .item__container
                .item__title Удобство 
                .item__text  Окно в каждой из спален
        .item 
            .item__container-icon
                i.item__icon.icon-whatshot
            .item__container
                .item__title Уют
                .item__text Номер оснащён камином
