@import '../../styles/virables.scss';

.subscription-text-field {
    max-width: 266px;
    display: grid;
    grid-template-columns: auto 44px;
    border: 1px solid $Dark-25;
    border-radius: 4px;
    cursor: pointer;
    .subscription-text-field__input {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: $Dark-75;
        padding: 10px 0 8px 14px;
        outline: none;
        border: none;
    }
    .subscription-text-field__input::placeholder {
        color: $Dark-25;
    }
    .icon-arrow_forward_purple {
        font-size: 19px;
        text-align: center;
        align-self: center;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
}