.subscription-text-field.js-subscription-text-field
    input.subscription-text-field__input.js-subscription-text-field__input(type="text" placeholder="Email")
    i.subscription-text-field__icon.icon-arrow_forward