@import '../../styles/virables.scss';

.colors-type {
  &__content {
    max-width: 71.25rem;
    margin: 4.0625rem auto 0 auto;
    display: grid;
    grid-template-columns: max-content 27.8125rem;
    justify-content: space-between;
    background: #ffffff;
    padding-bottom: 6.25rem;

    @media(max-width: 1440px) {
      min-width: 100%;
      padding: 0 10%;
    }

    @media(max-width: 1024px) {
      grid-template-columns: 1fr;
      row-gap: 4.0625rem;
    }
  }

  &__colors-item-list {
    display: grid;
    row-gap: 1.25rem;
  }

  &__colors-item {
    display: grid;
    grid-template-columns: 4.375rem auto;
    grid-template-rows: 4.375rem;
    column-gap: 2.5rem;
  }

  &__colors-color {
    border-radius: 0.375rem;
  }

  &__colors-texts {
    display: grid;
    align-content: center;
  }

  &__colors-text-title, 
  &__colors-text-text {
    font-family: 'Quicksand', open-sans;
    font-style: normal;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    display: flex;
    align-items: center;
    color: $Dark-100;
  }

  &__colors-text-title {
    font-weight: bold;
  }

  &__colors-text-text {
    font-weight: normal;
  }

  &__type-item-list {
    list-style: none;
    display: grid;
    row-gap: 3.125rem;
  }

  &__type-item {
    display: grid;
    grid-template-columns: 2.3125rem auto;
    column-gap: 1.875rem;
  }

  &__type-title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: $Dark-25;
  }

  &__type-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
  }
  
  &__type-title_size_big,
  &__type-text_size_big {
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }

  &__type-title_size_medium,
  &__type-text_size_medium {
    font-size: 1.1875rem;
    line-height: 1.4375rem;
  }

  &__type-title_size_small,
  &__type-text_size_small {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  &__type-title_size_very-small,
  &__type-text_size_very-small {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }

  &__type-text_transform_uppercase {
    text-transform: uppercase;
  }

  &__type-text_color_dark-100 {
    color: $Dark-100;
  }

  &__type-text_color_dark-75 {
    color: $Dark-75;
  }
}