@import '../../styles/virables.scss';

.navigation {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;

  &__title {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $Dark-100;
    margin-top: 2.5rem;
  }

  &__subtitle {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-transform: uppercase;
    color: $Dark-100;
    margin: 2.5rem 0 1rem 0;
  }

  &__list {
    display: grid;
    row-gap: 0.625rem;
  }

  &__item {
    list-style: none;
  }
  
  &__link {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: $Dark-50;
    text-decoration: none;
    outline: none;
  }
}