mixin navigation()
  nav.navigation 
    h1.navigation__title Pages & ui-kit 
    h3.navigation__subtitle ui-kit 
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href="./pages/colors-type.html") Colors & Type
      li.navigation__item
        a.navigation__link(href="./pages/cards.html") Cards
      li.navigation__item
        a.navigation__link(href="./pages/headers-footers.html") Headers & Footers
      li.navigation__item
        a.navigation__link(href="./pages/form-elements.html") Form Elements
    h3.navigation__subtitle Pages 
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href="./pages/landing-page.html") Landing Page
      li.navigation__item
        a.navigation__link(href="./pages/search-room.html") Search Room
      li.navigation__item
        a.navigation__link(href="../pages/room-details.html") Room Details
      li.navigation__item
        a.navigation__link(href="./pages/registration.html") Registration
      li.navigation__item
        a.navigation__link(href="./pages/authorization.html") Authorization