@import '../../styles/virables.scss';

/* 
    1px - 0.063rem +
    4px - 0.25rem +
    5px - 0.313rem +
    10px - 0.625rem +
    12px - 0.75rem + 
    13px - 0.813rem +
    14px - 0.875rem +
    15px - 0.938rem +
    16px - 1rem + 
    17px - 1.063rem +
    18px - 1.125rem +
    19px - 1.188rem +
    20px - 1.25rem +
    21px - 1.313rem +
    22px - 1.375rem +
    23px - 1.438rem +
    24px - 1.5rem +
    25px - 1.563rem +
    28px - 1.75rem +
    29px - 1.813rem +
    30px - 1.875rem +
    40px - 2.5rem +
    75px - 4.688rem +
    380px - 23.75rem +
*/ 

.check {
    width: 23.75rem;
    background: #FFFFFF;
    border: 0.063rem solid rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
    box-shadow: 0 0 1.563rem rgba(0, 0, 0, 0.2);
    padding: 2.5rem 1.813rem 1.875rem 1.813rem;
    .info {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: end;
    }
    .room-info__symbol {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1rem;
        color: $Dark-100;
    }
    .room-info__number {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $Dark-100;
    }
    .room-info__number-state {
        padding-left: 0.313rem;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.938rem;
        text-transform: uppercase;
        color: $Purple;
    }
    .price-info {}
    .price-info__value {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $Dark-50;
    }
    .price-info__time {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $Dark-50;
    }
    .date-dropdown {
        margin-top: 1.375rem;
    }
    .dropdown-guests {
        margin-top: 1.25rem;
    }
    .data {
        margin-top: 1.063rem;
    }
    .price-accommodation {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;
    }
    .discount {
        margin-top: 0.625rem;
        display: grid;
        grid-template-columns: auto 1.25rem 4.688rem;
        column-gap: 0.313rem;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $Dark-75;
    }
    .discount__icon, .collection__icon {
        width: 100%;
        height: 1.25rem;
        border: 0.063rem solid $Dark-25;
        border-radius: 50%;
        display: grid;
        justify-content: center;
        align-content: center;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: $Dark-25;
        cursor: pointer;
    }
    .discount__total, .collection__total {
        justify-self: end;
    }
    .collection {
        margin-top: 0.813rem;
        display: grid;
        grid-template-columns: auto 1.25rem 4.688rem;
        column-gap: 0.313rem;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $Dark-75;
    }
    .total {
        margin-top: 1.875rem;
        display: grid;
        grid-template-columns: max-content auto max-content;
        column-gap: 0.313rem;
    }
    .total__title {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.188rem;
        line-height: 1.5rem;
        color: $Dark-100;
    }
    .total__line {
        border-bottom: 0.063rem dashed $Dark-25;
        margin-bottom: 0.313rem;
    }
    .total__price {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.188rem;
        line-height: 1.5rem;
        color: $Dark-100;
    } 
    .btn {
        margin-top: 1.25rem;
    }
}