mixin check(numberValue, numberState, numberPrice, dateDropdownId, dropdownGuestsId)
    form.check 
        .check__room-data
            p.check__room-number
                span.check__room-number-symbol № 
                span.check__room-number-value #{numberValue}
                span.check__room-number-state #{numberState}
            p.check__room-price
                span.check__room-price-value #{numberPrice}₽
                span.check__room-price-text  в сутки
        .check__date-dropdown-container 
            .check__date-dropdown-titles 
                h3.check__date-dropdown-title-one прибытие 
                h3.check__date-dropdown-title-two выезд
            include ../date-dropdown/date-dropdown.pug 
            +date-dropdown(dateDropdownId, true)
        .check__dropdown-guests-container 
            h3.check__dropdown-guests-title гости
            div(id=dropdownGuestsId)
        .check__data
            p.check__price
                span.check__price-text.js-check__price-text
                span.check__price-value.js-check__price-value
            p.check__discount
                span.check__discount-text.js-check__discount-text 
                span.check__discount-icon i
                span.check__discount-price.js-check__discount-price 
            p.check__collecting 
                span.check__collecting-text.js-check__collecting-text
                span.check__collecting-icon i
                span.check__collecting-price.js-check__collecting-price
        .check__total 
            span.check__total-title Итого 
            span.check__total-line
            span.check__total-price.js-check__total-price
        include ../buttons/buttons.pug 
        +btn('submit', 'btn_fourth', 'забронировать')

