mixin cancellation()
    .cancellation 
        h3.cancellation__title Отмена 
        span.cancellation__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.