@import '../../styles/virables.scss';

.cancellation {
  display: grid;
  row-gap: 1.063rem;

  &__title {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: bold;
    font-size: 1.188rem;
    line-height: 1.5rem;
    color: $Dark-100;
    letter-spacing: 0.0625rem;
  }
  
  &__text {
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $Dark-75;
    max-width: 20.625rem;
  }
}