@import '../../styles/virables.scss';

.logotip {
  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: 0.125rem solid $Dark-25;
    outline-offset: 0.5rem;
  }

  &__logo {
    width: auto;
    height: 2.5rem;
  }
}