mixin logotip(type)
    if type == 'gray'
        img.logotip.logotip_gray(src=require("../../images/logotip-gray.svg").default, alt="Logotip")
    else if type == 'purple' 
        img.logotip.logotip_purple(src=require("../../images/logotip-purple.svg").default, alt="Logotip")
