@import '../../styles/virables.scss';

/* 
    380px - 23.75rem +
    40px - 2.5rem +
    30px - 1.875rem +
    28px - 1.75rem +
    25px - 1.5625rem +
    24px - 1.5rem +
    23px - 1.4375rem +
    20px - 1.25rem +
    18px - 1.125rem +
    15px - 0.9375rem +
    14px - 0.875rem +
    12px - 0.75rem +
    10px - 0.625rem +
    5px - 0.3125rem +
    4px - 0.25rem +
    1px - 0.0625rem +

*/ 

.sign-up {
    max-width: 23.75rem;
    background: #FFFFFF;
    border: 0.0625rem solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    padding: 2.5rem 1.875rem 1.875rem 1.875rem;
    .sign-up__title {
        font-family: Quicksand, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: $Dark-100;
    }
    .sign-up__text-fields-one {
        margin-top: 1.25rem;
        display: grid;
        row-gap: 0.625rem;
    }
    .radio-buttons {
        margin-top: 0.625rem;
    }
    .sign-up__masked-text-field-title,
    .sign-up__text-fields-title {
        margin-top: 1.25rem;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        text-transform: uppercase;
        color: $Dark-100;
    }
    .masked-text-field {
        margin-top: 0.3125rem;
    }
    .sign-up__text-fields-two {
        margin-top: 0.3125rem;
        display: grid;
        row-gap: 0.625rem;
    }
    .toggle {
        margin-top: 0.625rem;
    }
    .btn.btn_fourth {
        margin-top: 1.4375rem;
    }
    .sign-up__container-sign-in {
        margin-top: 1.875rem;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
    }
    .sign-up__sign-in-text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: #000000;
    }
}