include ../text-field/text-field.pug
include ../radio-buttons/radio-buttons.pug
include ../masked-text-field/masked-text-field.pug
include ../toggle/toggle.pug
include ../button/button.pug

mixin registration-form()
  form.registration-form 
    h1.registration-form__title Регистрация аккаунта
    .registration-form__text-fields-one 
      +text-field('text', 'Имя')
      +text-field('text', 'Фамилия')
    .registration-form__container-radio-buttons
      +radio-buttons()
    h3.registration-form__masked-text-field-title Дата рождения
    .registration-form__container-masked-text-field
      +masked-text-field()
    h3.registration-form__text-fields-title Данные для входа в сервис 
    .registration-form__text-fields-two 
      +text-field('email', 'Email')
      +text-field('password', 'Пароль')
    .registration-form__container-subscription-switch 
      +toggle(false)
    .registration-form__container-button 
      +button('btn_size_big btn_color_white', 'Перейти к оплате')
    .registration-form__container-sign-in 
      span.registration-form__sign-in-text Уже есть аккаунт на Toxin
      +button('btn_background_white btn_color_purple', 'Войти')