mixin masked-text-field()
  .masked-text-field.js-masked-text-field 
    span.masked-text-field__input.js-masked-text-field__input ДД.ММ.ГГГГ
    .masked-text-field__datepicker.js-masked-text-field__datepicker 