@import '../../styles/virables.scss';

.masked-text-field {
  width: 20rem;
  display: grid;
  row-gap: 0.313rem;
  
  @media(max-width: 30rem) {
    max-width: 20rem;
    width: auto;
  }

  &__input {
    width: 100%;
    border: 0.063rem solid $Dark-25;
    border-radius: 0.25rem;
    font-family: $PrimaryFontFamily;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: $Dark-75;
    padding: 0.563rem 0.875rem;
  }

  &__input:focus, 
  &__input:hover {
    border: 0.0625rem solid $Dark-50;
  }
  
  &__input::placeholder {
    color: $Dark-25;
  }
}
