include ../logotip/logotip.pug 
include ../button/button.pug 

mixin header(firstName, lastName)
  header.header.js-header 
    .header__container-logotip
      +logotip()
    nav.header__nav 
      ul.header__item-list
        li.header__item
          a.header__link.js-header__link(href="#") О нас
        li.header__item
            a.header__link.js-header__link.header__link_dropdown(href="#") Услуги
              span.header__icon-expand-more.icon-expand_more
        li.header__item
          a.header__link.js-header__link(href="#") Вакансии
        li.header__item
          a.header__link.js-header__link(href="#") Новости
        li.header__item
            a.header__link.js-header__link.header__link_dropdown(href="#") Соглашения
              span.header__icon-expand-more.icon-expand_more
    if firstName == undefined && lastName == undefined
      .header__buttons 
        +button('btn_background_white btn_color_purple btn_size_small', 'Войти')
        +button('btn_background_purple btn_color_white btn_size_small', 'Зарегистрироваться')
    else 
      span.header__name #{firstName} #{lastName}