<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Headers & Footers
    body
        .headers-footers
            include ../../components/logotip/logotip.pug 
            +logotip('gray')
            .headers-footers__content  
                include ../../components/header/header.pug 
                +header()
                +header('Юлий', 'Цезарь')
                include ../../components/footer/footer.pug
                +footer()