include ../../components/company-logo/company-logo.pug
include ../../components/header/header.pug 
include ../../components/footer/footer.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" href="../src/images/logotip-gray.svg")
    title Headers & Footers
  body
    .headers-footers
      +company-logo()
      .headers-footers__content  
        +header()
        +header('Юлий', 'Цезарь')
        +footer()