.filter-date-dropdown 
    label.filter-date-dropdown__label(for="datepicker") даты пребывания в отеле
    .container
        span.filter-date-dropdown__input ДД.ММ - ДД.ММ
            i.icon-expand_more_gray
        input#datepicker(type="text")