.filter-date-dropdown 
    label.filter-date-dropdown__label(for="datepicker-filter-date-dropdown") даты пребывания в отеле
    .container
        span.filter-date-dropdown__input ДД.ММ - ДД.ММ
            i.icon-expand_more
        input#datepicker-filter-date-dropdown(type="text")