mixin filter-date-dropdown(entryDate, checkOutDate)
  .filter-date-dropdown.js-filter-date-dropdown 
    span.filter-date-dropdown__input.js-filter-date-dropdown__input ДД.ММ - ДД.ММ
      span.filter-date-dropdown__icon-expand-more.icon-expand_more
    div.filter-date-dropdown__datepicker.js-filter-date-dropdown__datepicker(data-entry-date= entryDate, data-check-out-date= checkOutDate)