mixin filter-date-dropdown(id)
    .filter-date-dropdown.js-filter-date-dropdown 
        span.filter-date-dropdown__input.js-filter-date-dropdown__input ДД.ММ - ДД.ММ
            i.icon-expand_more
        div.filter-date-dropdown__datepicker(id=id)