.bullet-list 
    ul.item-list 
        li.item 
            .item__circle 
            span.item__text Нельзя с питомцами
        li.item 
            .item__circle 
            span.item__text Без вечеринок и мероприятий
        li.item 
            .item__circle 
            span.item__text Время прибытия — после 13:00, а выезд до 12:00