include ../logotip/logotip.pug
include ../subscription-text-field/subscription-text-field.pug 

mixin footer() 
  footer.footer
    section.footer__section-main
      .footer__logo
        +logotip() 
        p.footer__logo-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      nav.footer__nav
        ul.footer__item-list 
          li.footer__item-total Навигация
          li.footer__item 
            a.footer__link(href="#") О нас
          li.footer__item 
            a.footer__link(href="#") Новости
          li.footer__item 
            a.footer__link(href="#") Служба поддержки
          li.footer__item 
            a.footer__link(href="#") Услуги
      nav.footer__nav 
        ul.footer__item-list 
          li.footer__item-total О нас
          li.footer__item 
            a.footer__link(href="#") О сервисе
          li.footer__item 
            a.footer__link(href="#") Наша команда
          li.footer__item 
            a.footer__link(href="#") Вакансии
          li.footer__item 
            a.footer__link(href="#") Инвесторы
      nav.footer__nav
        ul.footer__item-list
          li.footer__item-total Служба поддержки
          li.footer__item 
            a.footer__link(href="#") Соглашения
          li.footer__item 
            a.footer__link(href="#") Сообщества
          li.footer__item 
            a.footer__link(href="#") Связь с нами
      .footer__sublist
        span.footer__sublist-total Подписка 
        p.footer__sublist-text Получайте специальные предложения и новости сервиса
        .footer__container-subscription-text-field 
          +subscription-text-field()
    section.footer__section-secondary 
      span.footer__right-text Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__social-networks
        ul.footer__social-networks-item-list
          li.footer__social-networks-item 
            a.footer__social-networks-link(href="https://twitter.com/" target="_blank" rel="noopener noreferrer")
              span(class="icon-twitter")
          li.footer__social-networks-item 
            a.footer__social-networks-link(href="https://facebook.com/" target="_blank" rel="noopener noreferrer")
              span(class="icon-facebook")
          li.footer__social-networks-item 
            a.footer__social-networks-link(href="https://instagram.com/" target="_blank" rel="noopener noreferrer")
              span(class="icon-instagram")