include ../text-field/text-field.pug
include ../button/button.pug 

mixin authorization-form()
  form.authorization-form 
    .authorization-form__title Войти 
    .authorization-form__text-fields 
      +text-field('email', 'Email')
      +text-field('password', 'Пароль')
    .authorization-form__container-button
      +button({ 
        size: 'big', 
        color: 'white', 
        text: 'Войти' 
      })
    .authorization-form__container-sign-up 
      span.authorization-form__registration-text Нет аккаунта на Toxin?
      +button({ 
        size: 'middle',
        background: 'white', 
        color: 'primary', 
        text: 'Создать' 
      })
