form.authorization-form 
    .authorization-form__title Войти 
    .authorization-form__text-fields
        include ../text-field/text-field.pug 
        +text-field('email', 'Email')
        +text-field('password', 'Пароль')
    .authorization-form__container-button
        include ../button/button.pug 
        +button('submit', 'btn_big', 'Войти')
    .authorization-form__container-sign-up 
        span.authorization-form__registration-text Нет аккаунта на Toxin?
        +button('button', 'btn_white', 'Создать')