.impression 
    h3.title Впечатления от номера
    .diagram 
        .diagram__sumptuously
        .diagram__satisfactorily
        .diagram__ok 
        .diagram__content
            span.diagram__value 260 
            span.diagram__text голосов
    ul.item-list
        li.item 
            .item__circle.item__circle_great
            span.item__text Великолепно 
        li.item 
            .item__circle.item__circle_good
            span.item__text Хорошо
        li.item 
            .item__circle.item__circle_satisfactory
            span.item__text Удовлетворительно
        li.item 
            .item__circle.item__circle_disappointed
            span.item__text Разочарован

