mixin item(text)
    .impression__item 
        .impression__circle 
        span.impression__text #{text}

.impression 
    h3.impression__title Впечатления от номера
    .impression__diagram 
        .impression__sumptuously
        .impression__satisfactorily
        .impression__ok 
        .impression__content 
            span.impression__value-one 260
            span.impression__value-two голосов
    .impression__item-list 
        +item('Великолепно')
        +item('Хорошо')
        +item('Удовлетворительно')
        +item('Разочарован')
