@import '../../styles/virables.scss';

/*
    1px - 0.063rem
    3.5px - 0.219rem
    4px - 0.25rem
    5px - 0.313rem
    7.5px - 0.469rem
    10px - 0.625rem
    12px - 0.75rem
    14px - 0.875rem
    15px - 0.938rem
    16.3px - 1.019rem
    18px - 1.125rem
    19px - 1.188rem
    20px - 1.25rem
    23px - 1.438rem
    41.25px - 2.578rem
    44px - 2.75rem
    270px - 16.875rem
*/ 

.room {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    .slider {
        position: relative;
        display: grid;
        grid-template-columns: 44px auto 44px;
    }
    .images {
        overflow: hidden;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(4, 270px);
    }
    .image {
        border-radius: 4px 4px 0 0;
        transition: 1s;
    }
    .btn-left, .btn-right {
        position: relative;
        z-index: 2;
        display: grid;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        .icon-expand_more {
            font-size: 12px;
            line-height: 12px;
            color: #ffffff;
        }
    }
    .btn-left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-radius: 4px 0 0 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        
    }
    .btn-right {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        border-radius: 0 4px 0 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        .icon-expand_more {
            transform: rotate(180deg);
        }
    }
    .circles {
        position: absolute;
        z-index: 3;
        bottom: 15px;
        right: 15px;
        width: 41.25px;
        display: grid;
        grid-template-columns: repeat(4, 7.5px);
        grid-template-rows: 7.5px;
        column-gap: 3.5px;
    }
    .circle {
        width: 100%;
        height: 100%;
        border: 1px solid #ffffff;
        border-radius: 50%;
    }
    .circle_active {
        background: #ffffff;
    }
    .content {
        padding: 20px;
    }
    .info-one {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: end;
    }
    .room-info__symbol {
        font-family: Quicksand, sans-serif;
        font-size: 14px;
        line-height: 16.3px;
        font-weight: bold;
        font-style: normal;
        color: $Dark-100;
    }
    .room-info__number {
        font-family: Quicksand, sans-serif;
        font-size: 19px;
        line-height: 23px;
        font-weight: bold;
        font-style: normal;
        color: $Dark-100;
    }
    .room-info__number-state {
        padding-left: 5px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $Purple;
    }
    .price-info__value {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $Dark-50;
    }
    .price-info__time {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $Dark-50;
    }
    .line {
        margin: 10px 0;
        height: 1px;
        background: rgba(31, 32, 65, 0.1);
    }
    .info-two {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
    }
    .reviews {
        font-family: Montserrat;
        font-style: normal;
        font-size: 14px;
        line-height: 18px;
        color: $Dark-50;
    }
    .reviews__value {
        font-weight: bold;
    }
    .reviews__text {
        font-weight: normal;
    }
}