.number-search 
    h1.title Найдем номера под ваши пожелания
    include ../date-dropdown/date-dropdown.pug 
    include ../dropdown-guests/dropdown-guests.pug 
    include ../buttons/buttons.pug 
    +btn('btn-four', '', 'Подобрать номер')