mixin item(value, id, state)
    .item 
        input.item__input(type="checkbox" id= id checked= state)
        label.item__label(for= id) #{value}
.checkbox-buttons 
    h3.title checkbox buttons 
    .item-list
        +item('Можно курить', 'smoke', false)
        +item('Можно с питомцами', 'pets', true)
        +item('Можно пригласить гостей (до 10 человек)', 'guests', true)
