mixin checkbox-button(value, state)
  .checkbox-buttons__item 
    label.checkbox-buttons__label 
      input.checkbox-buttons__input(type="checkbox" checked= state)
      |#{value}

mixin checkbox-buttons()
  .checkbox-buttons 
    .checkbox-buttons__item-list
      +checkbox-button('Можно курить', false)
      +checkbox-button('Можно с питомцами', true)
      +checkbox-button('Можно пригласить гостей (до 10 человек)', true)