mixin chckbox-button(value, id, state)
  .checkbox-buttons__item 
    input.checkbox-buttons__input(type="checkbox" id= id checked= state)
    label.checkbox-buttons__label(for= id) #{value}

mixin checkbox-buttons()
  .checkbox-buttons 
    .checkbox-buttons__item-list
      +chckbox-button('Можно курить', 'smoke', false)
      +chckbox-button('Можно с питомцами', 'pets', true)
      +chckbox-button('Можно пригласить гостей (до 10 человек)', 'guests', true)