<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="../src/images/logotip-gray.svg")
        title Cards
    body
        .cards 
            include ../../components/logotip/logotip.pug 
            +logotip('gray')
            .cards__content
                .cards__container-one
                    include ../../components/search-room-form/search-room-form.pug
                    +search-room-form()
                    include ../../components/registration-form/registration-form.pug
                    +registration-form()
                .cards__container-two
                    include ../../components/verification-form/verification-form.pug 
                    +verification-form('9990', '2179', '300', '888', 'люкс', '9 990', '20 October, 2020', '24 October, 2020')
                    include ../../components/authorization-form/authorization-form.pug
                    +authorization-form()
                .cards__container-three
                    .cards__container-date-dropdown-datepicker
                        include ../../components/date-dropdown/date-dropdown.pug 
                        +date-dropdown(false, '20 October, 2020', '25 October, 2020', 'true')
                    include ../../components/room/room.pug 
                    +room('room-one.jpg', '888', 'люкс', '9 990', '5', '145')
                    +room('room-two.jpg', '840', '', '9 990', '4', '65')