include ../../components/company-logo/company-logo.pug
include ../../components/search-room-form/search-room-form.pug
include ../../components/registration-form/registration-form.pug
include ../../components/verification-form/verification-form.pug 
include ../../components/authorization-form/authorization-form.pug
include ../../components/calendar/calendar.pug 
include ../../components/room/room.pug 

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(type="image/x-icon" rel="shortcut icon" href= require("../../images/favicon.svg").default)
    link(rel="mask-icon" href= require("../../images/favicon.svg").default color="gray")
    title Cards
  body
    .cards 
      +company-logo()
      .cards__content
        .cards__container
          +search-room-form()
          +registration-form()
        .cards__container
          +verification-form({ 
            price: '9990', 
            discount: '2179', 
            collecting: '300', 
            numberValue: '888', 
            numberState: 'люкс', 
            numberPrice: '9 990', 
            oneDate: '20 October, 2020', 
            twoDate: '24 October, 2020'
          })
          +authorization-form()
        .cards__container
          .cards__container-calendar
            +calendar({
              oneDate: '20 October, 2020', 
              twoDate: '24 October, 2020'
            })
          +room({ 
            roomImgName: 'room-one.jpg',
            roomNumber: '888',
            roomState: 'люкс',
            roomPrice: '9 990',
            rateButtonValue: '5',
            commentsValue: '145'
          })
          +room({ 
            roomImgName: 'room-two.jpg', 
            roomNumber: '840', 
            roomPrice: '9 990', 
            rateButtonValue: '4', 
            commentsValue: '65' 
          })